<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

 
  <div class="field">
    <%= f.label :kategori%><br />
    <%= select("article", "category_id", Category.all.collect {|d| [ d.name, d.id ] }, {:include_blank => 'None'})%>    
  </div>
 <!-- Hvis kategori ikke i listen: <%= link_to 'Ny kategori', new_category_path %> <br /><br />-->
  <div class="field">
    <%= f.label :tittel %><br />
    <%= f.text_field :title %>
  </div><br />

  <% if can? :manage, Article %>
  
  Hvis video, legg inn youtube-koden her(11 tegn, både tall og bokstaver, står mot slutten av adressen).
  <div class="field">
 	<%= f.text_field :youtube_link %>
  </div>
  <br />
  <% end %>
  <div class="field">
    <%= f.label :innhold %>(Syntaks for formatering oppgitt nederst på siden.) <br />
    <%= f.text_area :content, :size => "95x40" %>
  </div>
 
  <% if can? :manage, Article %>
    <div class="field"> 
      <%= f.label :publisert %>
      <%= f.check_box :published %>
    </div>
  <% end %>
  
  <div class="actions">
    <% # f.submit %>
    <input id="article_submit" type="submit" value="Lagre tekst" name="commit">
  </div>
  
   
<p><%= simple_format("

Syntaks for formatering:

# Overskrift 1 
## Overskrift 2 
### Overskrift 3  
#### Overskrift 4 
##### Overskrift 5 

Fet skrift: **Denne teksten er fet**

Kursiv skrift:  _Denne teksten er kursiv_

Her er en link til [ISFiT](http://www.isfit.org). 

*  Første punkt i en punktliste 
*  Et punkt til
*  Enda et punkt


") %>
</p>
<% end %>
