<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  
  <div class="field">
    <%= f.label :Forfatter%>(Velg ISFiT for video uten klar bidragsyter)<br />
    <%= select("article", "contributor_id", Contributor.all.collect {|c| [ c.contributor, c.id ] }, {:include_blank => 'None'})%>    
  </div>
  Hvis forfatter ikke i listen: <%= link_to 'Ny bidragsyter', new_contributor_path %> <br /><br />
  <div class="field">
    <%= f.label :Kategori%><br />
    <%= select("article", "category_id", Category.all.collect {|d| [ d.name, d.id ] }, {:include_blank => 'None'})%>    
  </div>
  Hvis kategori ikke i listen: <%= link_to 'Ny kategori', new_category_path %> <br /><br />
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div><br />

  Hvis video, legg inn youtube-koden her(11 tegn, både tall og bokstaver, står mot slutten av adressen).
  <div class="field">
 	<%= f.text_field :youtube_link %>
  </div>
  <br />
  <div class="field">
    <%= f.label :innhold %>(Hvis film: Skriv kort hva filmen handler om. Syntaks for formatering finnes nederst på siden.) <br />
    <%= f.text_area :content, :size => "95x40" %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>

<p><%= simple_format ("

Syntaks for formatering:

# Header 1 #
## Header 2 ##
### Header 3 ###             (Hashes on right are optional)
#### Header 4 ####
##### Header 5 #####


This is a paragraph, which is text surrounded by whitespace. Paragraphs can be on one 
line (or many), and can drone on for hours.  

Here is a Markdown link to [Warped](http://warpedvisions.org), and a literal . 
Now some SimpleLinks, like one to [google] (automagically links to are-you-
feeling-lucky), a [wiki: test] link to a Wikipedia page, and a link to 
[foldoc: CPU]s at foldoc.  

Now some inline markup like _italics_,  **bold**, and `code()`. Note that underscores in 
words are ignored in Markdown Extra.


> Blockquotes are like quoted text in email replies
>> And, they can be nested

* Bullet lists are easy too
- Another one
+ Another one

1. A numbered list
2. Which is numbered
3. With periods and a space") %> 
</p>


<% end %>
