<title>Alle tekster</title>


<div id="midtramme" class="grid_18">

<h2>Alle tekster</h2>

<!-- Husk å fjerne .first(7) ved kopiering -->

<% @articles = Article.all %>
<% @articles.sort! { |a,b| a.title.downcase <=> b.title.downcase } %>

<% i = 0 %>
<% @articles.each do |article| %>
  <% if i == 0 %>
    <div id="hovedArtikkel" class="grid_18 alpha">
    <% if article.youtube_link.nil?  || article.youtube_link == "" %>
    <%= link_to image_tag(article.contributor.avatar(:medium)), article %>
    <% else %>
    <div style="float:left;padding-right:7px;">   <iframe title="YouTube video player" width="250" height="218" src="http://www.youtube.com/embed/<%= article.youtube_link %>?rel=0" frameborder="0" allowfullscreen></iframe></div>
    <% end %>
    <h1><%=link_to article.title, article%></h1>
    <% if article.youtube_link.nil?  || article.youtube_link == "" %>
    <h3><%= link_to article.contributor.contributor, article.contributor %></h3>
    <% end %>
    <p><%= raw format(truncate(article.content, :length => 530, :separator => ' '))%></p>
    <div id="lesMer"><%= link_to 'Les mer', article %></div>

   </div>

  <% elsif i == 1 %>
    <% classtext ="artikkel grid_9 alpha"%>
    <% i = 2 %>
  <% else %>
    <% classtext = "artikkel grid_9 omega" %>
    <% i = 1 %>
  <% end %>

  <% if i != 0 %>
  <div class="<%=classtext%>">
    <% if article.youtube_link.nil?  || article.youtube_link == "" %>
      <%= link_to image_tag(article.contributor.avatar(:medium), :size => "144x170"), article %>
      <h1><%=link_to article.title, article%></h1>
    <% else %>
      <h1><%=link_to article.title, article%></h1>
      <div style="padding: 5px 0 0 5px"> <iframe title="YouTube video player" width="250" height="145" src="http://www.youtube.com/embed/<%= article.youtube_link %>?rel=0" frameborder="0" allowfullscreen></iframe></div>
    <% end %>
    <% if article.youtube_link.nil?  || article.youtube_link == "" %>
    <h3><%= link_to article.contributor.contributor, article.contributor %></h3>
    <%= raw format(truncate(article.content, :length => 120, :separator => ' '))%>
   <div id="lesMer"><%= link_to 'Les mer', article %></div>
   <% end %>
   </div>
   <% end %>
   <% if i == 0 %>
     <% i = 1 %>
   <% end %>
<% end %>

</div><!-- Slutt midtramme -->

<div id="hoyreramme" class="grid_6">
<div id="twitter">
        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
          new TWTR.Widget({
            version: 2,
            type: 'search',
            search: '@isfit',
            interval: 8000,
            title: '',
            subject: 'ISFiT på twitter',
            width: 'auto',
            height: 0,
            theme: {
              shell: {
                background: '#8ec1da',
                color: '250'
              },
              tweets: {
                background: '',
                color: 'blue',
                links: 'black'
              }
            },
            features: {
              scrollbar: false,
              loop: true,
              live: true,
              hashtags: true,
              timestamp: true,
              avatars: true,
              toptweets: true,
              behavior: 'default'
            }
          }).render().start();
        </script>
</div>
<div id="twitter">
        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
          new TWTR.Widget({
            version: 2,
            type: 'search',
            search: '@Samfundet',
            interval: 8000,
            title: '',
            subject: 'Samfundet på twitter',
            width: 'auto',
            height: 0,
            theme: {
              shell: {
                background: '#8ec1da',
                color: '250'
              },
              tweets: {
                background: '',
                color: 'blue',
                links: 'black'
              }
            },
            features: {
              scrollbar: false,
              loop: true,
              live: true,
              hashtags: true,
              timestamp: true,
              avatars: true,
              toptweets: true,
              behavior: 'default'
            }
          }).render().start();
        </script>
      </div>
</div><!-- Slutt hoyreramme -->





<!--
<table id="artikkelOversikt">
    
  <tr>
    <th></th>
    <th>Tittel</th>
    <th>Av</th>
    <th>Kategori</th>
    <th></th>
    <th></th>
  </tr>

<% @articles = @articles.reverse %>

<% @articles.each do |article| %>
    <tr>
      <% if article.youtube_link.nil?  || article.youtube_link == "" %>
        <td><%= link_to image_tag(article.contributor.avatar(:medium), :size => "70x80"), article %>
      <% else %>
        <td> <iframe title="YouTube video player" width="70" height="70" src="http://www.youtube.com/embed/<%= article.youtube_link %>?rel=0" frameborder="0" allowfullscreen></iframe></td>
      <% end %>
      <td><%= link_to article.title, article %>  </td>
      <td><i><%=  link_to article.contributor.contributor, article.contributor%></i> </td>
      <td><%= link_to article.category.name, article.category %></td> 
      <td>
        <% if admin_signed_in? %>
        <%= link_to 'Endre', edit_article_path(article) %>
        <% end %>
      </td>
      <td>
        <% if admin_signed_in? %>
          <%= button_to "Slette", { :action => "destroy", :id => article.id },
              :confirm => "Are you sure?", :method => :delete %>

        <% end %>
       </td>
    </tr>
<% end %>

</table>
-->

<br />

<% if admin_signed_in? %>
<%= link_to 'Ny tekst', new_article_path %>
<% end %>
