<title>Alle tekster</title>


<h2>Alle tekster</h2>


<% @articles = Article.all %>
<% @articles.sort! { |a,b| a.title.downcase <=> b.title.downcase } %>

<div id="list">
<dl id="artikkelOversikt">
<% i = 0 %>
<% @articles.each do |article| %>
 <% if article.published == true %>   
   <% if i == 0 %>
        <div id="whiteBG">
      <% else %>
        <div id="greyBG">
      <% end %>
      <dt><%= link_to article.title, article %>  </dt>
      <% if article.youtube_link.nil?  || article.youtube_link == "" %>
     <% if article.user.avatar.file? %>
  <dd class="listImg"><%= link_to image_tag(article.user.avatar(:medium), :size => "85x101"), article %></dd>
 
<% else %>
       <dd class="listImg"> <%= link_to image_tag("siluett.jpg", :size => "85x101"), article %></dd>
   
<% end %>
      

      <% else %>
        <dd class="listImg"> <iframe title="YouTube video player" width="70" height="70" src="http://www.youtube.com/embed/<%= article.youtube_link %>?rel=0" frameborder="0" allowfullscreen></iframe></dd>
      <% end %>
      
      <dd class="content"><%= raw format(truncate(article.content, :length => 150, :separator => ' '))%>Av: <%=  link_to article.user.name, article.user%> Kategori: <%= link_to article.category.name, article.category %></dd>     
     
     <% if i == 0 %>
       </div>
       <% i = 1 %>
     <% else %>
       </div>
       <% i = 0 %>
     <% end %>
   <% end %>  
<% end %>

</dl>
</div>



<!--
<div id="list">
<table id="artikkelOversikt">
    
  <tr>
    <th></th>
    <th>Tittel</th>
    <th>Av</th>
    <th>Kategori</th>
    <th></th>
    <th></th>
  </tr>
-->

<!--
<script type="text/javascript">
  byttVisning();
</script>
-->
<br />

<% if can? :create, @article %>
<%= link_to 'Ny tekst', new_article_path %>
<% end %>
