<title><%= @user.name %></title>

<p id="notice"><%= notice %></p>

<div id="bidragsyter">
 <%= image_tag @user.avatar.url(:medium) %>


<h2>
  <%= @user.name %>  
</h2>

<p>
  <%= raw format(@user.bio) %>
</p>

<br />
<p>
  <b>Tekster:</b>
    <% @articles = @user.articles.all %>
    <% @articles = @articles.reverse %>
    <% @articles.each do |a| %>
        <p><%=link_to a.title, a %> </p>
      <% end %>

</p>
<p>
<!--  <%= link_to 'Alle bidragsytere', users_path %>-->
  <% if can? :update, @user %>  
    <%= link_to 'Endre', edit_registration_path(@user) %>
  <% end %>
  <% if can? :delete, @user %>
    <%= button_to "Slette", { :action => "destroy", :id => @user.id },
              :confirm => "Are you sure?", :method => :delete %>
  <% end %>
</p>

 

<br />
</div>


<% if can? :manage, :all %>
 
<table class="one-column-emphasis">
	<tbody>
		<tr>
			<td class="oce-first">Email:</td>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<td class="oce-first">Role:</td>
			<td><%= @user.roles.first.name %></td>
		</tr>
		<tr>
			<td class="oce-first">Created at:</td>
			<td><%= @user.created_at %></td>
		</tr>
		<tr>
			<td class="oce-first">Last Sign In:</td>
			<td><%= @user.last_sign_in_at %></td>
		</tr>
		<tr>
			<td class="oce-first">Sign In Count:</td>
			<td><%= @user.sign_in_count %></td>
		</tr>
	</tbody>
</table>

<% end %>
