<title><%= @user.name %></title>

<p id="notice"><%= notice %></p>

<div id="visArtikkel">
<div id="artImg">
  <%= image_tag(@user.avatar(:medium), :size => "180x220") %>
</div>

<p>
  <h2 id="artOverskrift">
    <%= @user.name %>
   </h2>
</p>

<div id="bio">
<p>
  <%= raw format(@user.bio) %>
</p>
</div>

<p>
  <b>Tekster</b>
    <% @articles = @user.articles.all %>
    <% @articles = @articles.reverse %>
    <% @articles.each do |a| %>
      <% if (a.published == true) or (can? :update, @user) %>  
        <p><%=link_to a.title, a %> </p>
      <% end %>
    <% end %>
</p>

  <% if can? :update, @user %>  
    <% # link_to 'Endre', edit_registration_path(@user) %>
    <%= button_to 'Endre', edit_user_registration_path(@user), :method => :get %>
  <% end %>
  <% if can? :delete, @user %>
    <%= button_to "Slette", { :action => "destroy", :id => @user.id },
              :confirm => "Are you sure?", :method => :delete %>
  <% end %>
</p>

 

<br />
</div>

<% if can? :manage, :all %>
 
<table class="one-column-emphasis">
	<tbody>
		<tr>
			<td class="oce-first">Email:</td>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<td class="oce-first">Role:</td>
			<td><%= @user.roles.first.name %>
                        <% if @user.roles.length > 1 %>
                        , <%= @user.roles.find(1).name %>
                        <% end %>
                        </td>   
		</tr>
		<tr>
			<td class="oce-first">Created at:</td>
			<td><%= @user.created_at %></td>
		</tr>
		<tr>
			<td class="oce-first">Last Sign In:</td>
			<td><%= @user.last_sign_in_at %></td>
		</tr>
		<tr>
			<td class="oce-first">Sign In Count:</td>
			<td><%= @user.sign_in_count %></td>
		</tr>
	</tbody>
</table>

<% end %>
