
<h2>Endre bruker</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put },  :html => { :multipart => true }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :navn %><br />
  <%= f.text_field :name %></p>


  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

<!--
-->


  <p><%= f.label :om_deg %><br />
  <%= f.text_area :bio, :size => "60x20" %></p>
    
  <p><%= f.label :'Last opp bilde:' %><br />
  <%= f.file_field :avatar %></p>

  <p><%= f.label :nytt_passord %> <i>(La stå tom om du ikke ønsker å endre)</i><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :bekreft_passord %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label :gammelt_passord %> <i>(Vi trenger ditt nåværende passord for å bekrefte endringene)</i><br />
  <%= f.password_field :current_password %></p>
   

  <p><%= f.submit "Oppdater" %></p>
<% end %>

<h3>Slett meg</h3>

<p><%= link_to "Slett bruker", registration_path(resource_name), :confirm => "Er du sikker? Alle dine tekster vil også bli slettet.", :method => :delete %>.</p>

<%= link_to "Tilbake", :back %>
