<title>Registrer deg</title>

<h2>Registrer deg</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :navn %><br />
  <%= f.text_field :name %></p>


  <p><%= f.label :epost %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :om_deg %><br />
  <%= f.text_area :bio, :size => "60x20" %></p>
  
  <p> <%= f.label "Last opp bilde (340x400 for optimal visning)" %><br />
  <%= f.file_field :avatar %></p>

 
  <p><%= f.label :passord %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :bekreft_passord %><br />
  <%= f.password_field :password_confirmation %></p>
 

  <%= recaptcha_tags %>
  <p><%= f.submit "Registrer deg" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>


