<%= form_for @page, :html => { :multipart => true }  do |f| %>  
<% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :Tittel %><br />
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :Innhold %><br />
  <%= f.text_area :content, :size => "95x40" %>
</div>

 <div class="field">
    <%= f.label :'Last opp bilde:' %><br />
    <%= f.file_field :avatar %>
 </div>


<div class="actions">
  <%= f.submit %>
</div>
<% end %>


