<title><%= @page.title %></title>

<p id="notice"><%= notice %></p>

<div id="visArtikkel">
<div id="artImg">
  <%= image_tag @page.avatar.url(:medium) %>
</div>

<p>
<h2><%= @page.title %></h2>
</p>

<p><%= raw format(@page.content) %></p>



<% if can? :destroy, @page %>
  <%= button_to "Slette", { :action => "destroy", :id => @page.id },
              :confirm => "Are you sure?", :method => :delete %>
|
<% end %>

<% if can? :update, @page %>
  <%= link_to 'Endre', edit_page_path(@page) %>
<% end %>
</div>
