<title><%= @category.name %></title>

<p id="notice"><%= notice %></p>

<div id="contentOmeny">

<h2>
  <%= @category.name %>
</h2>

<div id="bildeVisning">
  <button id="endreVisning" type="button" onclick="byttVisning()">Bildevisning</button>
</div>

<div id="listeVisning" >
  <button id="endreVisning" type="button" onclick="byttVisning()">Listevisning</button>
</div>

</div>

<!-- Husk å fjerne .first(7) ved kopiering -->


<% @articles = @category.articles.all %>
<% @articles = @articles.reverse %>

<div id="taboloid">
<% i = 0 %>
<% @articles.each do |article| %>
 <% if article.published == true %>
  <% if i == 0 %>
    <div id="hovedArtikkel" class="grid_18 alpha">
    <% if article.youtube_link.nil?  || article.youtube_link == "" %>
 <% if article.user.avatar.file? %>
  <%= link_to image_tag(article.user.avatar(:medium)), article %>
 
<% else %>
        <%= link_to image_tag("siluett.jpg", :size => "255x300"), article %>
   
<% end %>
  
    <% else %>
    <div style="float:left;padding-right:7px;">   <iframe title="YouTube video player" width="250" height="218" src="http://www.youtube.com/embed/<%= article.youtube_link %>?rel=0" frameborder="0" allowfullscreen></iframe></div>
    <% end %>
    <h1><%=link_to article.title, article%></h1>
    <% if article.youtube_link.nil?  || article.youtube_link == "" %>
    <h3><%= link_to article.user.name, article.user %></h3>
    <% end %>
    <p><%= raw format(truncate(article.content, :length => 530, :separator => ' '))%></p>
    <div id="lesMer"><%= link_to 'Les mer', article %></div>

   </div>

  <% elsif i == 1 %>
    <% classtext ="artikkel grid_9 alpha"%>
    <% i = 2 %>
  <% else %>
    <% classtext = "artikkel grid_9 omega" %>
    <% i = 1 %>
  <% end %>

  <% if i != 0 %>
  <div class="<%=classtext%>">
    <% if article.youtube_link.nil?  || article.youtube_link == "" %>
     <% if article.user.avatar.file? %>
        <%= link_to image_tag(article.user.avatar(:medium), :size => "144x170"), article %>
 
<% else %>
        <%= link_to image_tag("siluett.jpg", :size => "144x170"), article %>
   
<% end %>

      <h1><%=link_to article.title, article%></h1>
    <% else %>
      <h1><%=link_to article.title, article%></h1>
      <div style="padding: 5px 0 0 5px"> <iframe title="YouTube video player" width="250" height="145" src="http://www.youtube.com/embed/<%= article.youtube_link %>?rel=0" frameborder="0" allowfullscreen></iframe></div>
    <% end %>
    <% if article.youtube_link.nil?  || article.youtube_link == "" %>
    <h3><%= link_to article.user.name, article.user %></h3>
    <% if article.title.length < 30 %>
      <%= raw format(truncate(article.content, :length => 125, :separator => ' '))%>
    <% else %>
      <%= raw format(truncate(article.content, :length => 100, :separator => ' '))%>
    <% end %>

   <div id="lesMer"><%= link_to 'Les mer', article %></div>
   <% end %>
   </div>
   <% end %>
   <% if i == 0 %>
     <% i = 1 %>
   <% end %>
 <% end %>
<% end %>
</div>

<div id="list">
<dl id="artikkelOversikt">
<% i = 0 %>
<% @articles.each do |article| %>
   <% if article.published == true %>  
      <% if i == 0 %>
        <div id="whiteBG">
      <% else %>
        <div id="greyBG">
      <% end %>
      <dt><%= link_to article.title, article %>  </dt>
      <% if article.youtube_link.nil?  || article.youtube_link == "" %>
      <% if article.user.avatar.file? %>
       <dd class="listImg"><%= link_to image_tag(article.user.avatar(:medium), :size => "85x101"), article %></dd>
 
<% else %>
       <dd class="listImg"> <%= link_to image_tag("siluett.jpg", :size => "85x101"), article %></dd>
   
<% end %>
  
      <% else %>
        <dd class="listImg"> <iframe title="YouTube video player" width="70" height="70" src="http://www.youtube.com/embed/<%= article.youtube_link %>?rel=0" frameborder="0" allowfullscreen></iframe></dd>
      <% end %>

      <dd class="content"><%= raw format(truncate(article.content, :length => 150, :separator => ' '))%>Av: <%=  link_to article.user.name, article.user%> Kategori: <%= link_to article.category.name, article.category %></dd>

     <% if i == 0 %>
       </div>
       <% i = 1 %>
     <% else %>
       </div>
       <% i = 0 %>
     <% end %>
  <% end %>
<% end %>

</dl>
</div>



<script type="text/javascript">
  byttVisning();
</script>




<% if can? :update, @article %>
  <%= link_to 'Endre', edit_category_path(@category) %>
<% end %>

