<%= form_for @contributor, :html => { :multipart => true }  do |f| %>
  <% if @contributor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contributor.errors.count, "error") %> prohibited this contributor from being saved:</h2>

      <ul>
      <% @contributor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Navn %><br />
    <%= f.text_field :contributor %>
  </div>
  <div class="field">
    <%= f.label :Biografi %><br />
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :'Last opp bilde:' %><br />
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
