<!DOCTYPE html>

<p class="notice"><%= notice %></p>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta property="fb:admins" content="{10150158906741422}"/>

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <script>
  // this allows jquery to be called along with scriptaculous and YUI without any conflicts
  // the only difference is all jquery functions should be called with $j instead of $
  // e.g. $j('#div_id').stuff instead of $('#div_id').stuff
  var $j = jQuery.noConflict();
</script>
  <%= yield :script %>
  <%= csrf_meta_tag %>

<script type="text/javascript">
function byttVisning()
{

  if(document.getElementById('list').style.display=='none') {
    document.getElementById('taboloid').style.display='none';
    document.getElementById('list').style.display='block';
    document.getElementById('listeVisning').style.display='none';
    document.getElementById('bildeVisning').style.display='block';
    
  }
  
  else {
    document.getElementById('taboloid').style.display='block';
    document.getElementById('list').style.display='none';
    document.getElementById('listeVisning').style.display='block';
    document.getElementById('bildeVisning').style.display='none';
    
  }
}
</script>


<SCRIPT LANGUAGE="JavaScript">


var theImages = new Array() // do not change this

theImages[0] = '/assets/1.jpg'
theImages[1] = '/assets/2.jpg'
theImages[2] = '/assets/3.jpg'
theImages[3] = '/assets/4.jpg'
theImages[4] = '/assets/5.jpg'
theImages[5] = '/assets/6.jpg'
theImages[6] = '/assets/7.jpg'
theImages[7] = '/assets/8.jpg'
theImages[8] = '/assets/9.jpg'
theImages[9] = '/assets/10.jpg'


var j = 0
var p = theImages.length;
var preBuffer = new Array()
for (i = 0; i < p; i++){
   preBuffer[i] = new Image()
   preBuffer[i].src = theImages[i]
}
var whichImage = Math.round(Math.random()*(p-1));
function showImage(){
document.write('<img src="'+theImages[whichImage]+'">');
}

</script>



</head>

<body>
<div id="hovedramme" class="container_24"> <!-- Start hovedramme -->
  <div id="omeny" class="grid_25"> <!-- Start Header -->
  <div id="ofaner">  
  <div id="bid">
   <%= link_to 'Bidragsytere', users_path %>
    
      <% @pages = Page.all %>
      <% @pages.each do |p| %>
        <%= link_to p.title, page_path(p) %>
      <% end %>
   </div>
    <% if !user_signed_in? %>
    
      <%= link_to 'Opprett bruker', new_user_registration_path %>
      <%= link_to 'Logg inn', new_user_session_path %>
      
    <% end %>
    <% if user_signed_in? %>
      <%= link_to 'Logg ut', destroy_user_session_path %> 
      <%= link_to 'Min profil', current_user %>
      <%= link_to 'Ny tekst', new_article_path %>
     <% end %>
  </div><!-- Slutt ofaner -->
  </div><!-- Slutt omeny -->

<div id="sliderWrapper" class="grid_25">
<div id="slider" class="nivoSlider">

  <%= image_tag "2.jpg" %>
  <%= image_tag "3.jpg" %>
  <%= image_tag "4.jpg" %>
  <%= image_tag "6.jpg" %>
  <%= image_tag "7.jpg" %>
  <%= image_tag "8.jpg" %>
  <%= image_tag "9.jpg" %>
  <%= image_tag "10.jpg" %>
  <%= image_tag "1.jpg" %>


</div>
<div id="bakgrunn">
  <SCRIPT LANGUAGE="JavaScript">
    showImage();
   </script>
</div>

<script type="text/javascript">
$j(window).load(function() {
      $j('#slider').nivoSlider({effect:'fade', pauseOnHover:false, controlNav:false,pauseTime:8000, prevText: '<-', nextText: '->', afterLoad: 
	function() {
		$j('#bakgrunn').css ("display", "none");
	}
}
);
}
);
</script>
</div><!-- Slutt sliderWrapper -->

<div id="umeny" class="grid_25">
<div id="faner">

<% @categories = Category.all %>
<% style =  ((request.fullpath == '/home/index') || (request.fullpath == '/')) ? "selected" : "" %>
<%= link_to 'Siste', home_index_path, :class => style %><%= image_tag("men_sep.png", :class=>"menyspacer") %>
<% @categories.each do |c| %>
  <% style = request.fullpath == '/categories/'+c.id.to_s ? "selected" : "" %>
  <%= link_to c.name, category_path(c), :class => style %><%= image_tag("men_sep.png", :class=>"menyspacer") %>
<% end %>
<% style = request.fullpath == '/articles' ? "selected" : "" %>

<%= link_to 'Alle', articles_path, :class => style %>
</div>
</div>

<div id="innholdsramme" class="grid_25">
<div id="midtramme" class="grid_18">
  <%= yield %>
</div><!-- Slutt midtramme  -->
<div id="hoyreramme" class="grid_6">
<div id="twitter">
        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
          new TWTR.Widget({
            version: 2,
            type: 'search',
            search: '@Samfundet',
            interval: 8000,
            title: '',
            subject: 'Samfundet på twitter',
            width: 'auto',
            height: 0,
            theme: {
              shell: {
                background: '#8ec1da',
                color: '250'
              },
              tweets: {
                background: '',
                color: 'blue',
                links: 'black'
              }
            },
            features: {
              scrollbar: false,
              loop: false,
              live: true,
              hashtags: true,
              timestamp: true,
              avatars: true,
              toptweets: true,
              behavior: 'all'
            }
          }).render().start();
        </script>
      </div>

<div id="twitter">
        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
          new TWTR.Widget({
            version: 2,
            type: 'search',
            search: 'uka11',
            interval: 8000,
            title: '',
            subject: 'UKA på twitter',
            width: 'auto',
            height: 0,
            theme: {
              shell: {
                background: '#8ec1da',
                color: '250'
              },
              tweets: {
                background: '',
                color: 'blue',
                links: 'black'
              }
            },
            features: {
              scrollbar: false,
              loop: false,
              live: true,
              hashtags: true,
              timestamp: true,
              avatars: true,
              toptweets: true,
              behavior: 'all'
            }
          }).render().start();
        </script>
</div>

<div id="twitter">
        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
          new TWTR.Widget({
            version: 2,
            type: 'search',
            search: '@isfit',
            interval: 8000,
            title: '',
            subject: 'ISFiT på twitter',
            width: 'auto',
            height: 0,
            theme: {
              shell: {
                background: '#8ec1da',
                color: '250'
              },
              tweets: {
                background: '',
                color: 'blue',
                links: 'black'
              }
            },
            features: {
              scrollbar: false,
              loop: false,
              live: true,
              hashtags: true,
              timestamp: true,
              avatars: true,
              toptweets: true,
              behavior: 'all'
            }
          }).render().start();
        </script>
      </div>



</div><!-- Slutt hoyreramme -->

</div><!-- Slutt innholdsramme -->

<div id="footer" class="grid_25"> <!--Start footer -->
  <%= link_to image_tag("isfit.jpg"), "http://www.isfit.org/" %>
  <%= link_to image_tag("uka.png"), "http://www.uka.no/" %>
  <%= link_to image_tag("samfundet.jpeg"), "http://www.samfundet.no/" %>
  <div id="webmaster"><h6>Editor in Chief: </h6></div>
</div><!-- Slutt footer -->
</div><!-- Slutt hovedramme -->
</body>
</html>
