<!DOCTYPE html>

<p class="notice"><%= notice %></p>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta property="fb:admins" content="{10150158906741422}"/>

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'prototype', 'rails', 'application', 'jquery', 'jquery.simplemodal-1.3.5.min', 'imgareaselect', 'jquery.nivo.slider' %>
  <script>
  // this allows jquery to be called along with scriptaculous and YUI without any conflicts
  // the only difference is all jquery functions should be called with $j instead of $
  // e.g. $j('#div_id').stuff instead of $('#div_id').stuff
  var $j = jQuery.noConflict();
</script>
  <%= yield :script %>
  <%= csrf_meta_tag %>

<script type="text/javascript">
function byttVisning()
{
  var bjarne = new String();
  bjarne = document.getElementById('list').style.display;

  if(document.getElementById('list').style.display=='none') {
    document.getElementById('taboloid').style.display='none';
    document.getElementById('list').style.display='block';
  } 
  
  else {
    document.getElementById('taboloid').style.display='block';
    document.getElementById('list').style.display='none';
  }
}


</script>


</head>

<body>
<div id="hovedramme" class="container_24"> <!-- Start hovedramme -->
  <div id="omeny" class="grid_25"> <!-- Start Header -->
  <div id="ofaner">  
  <div id="bid">
   <%= link_to 'Bidragsytere', users_path %>
    
      <% @pages = Page.all %>
      <% @pages.each do |p| %>
        <%= link_to p.title, page_path(p) %>
      <% end %>
   </div>
    <% if !user_signed_in? %>
    
      <%= link_to 'Opprett bruker', new_user_registration_path %>
      <%= link_to 'Logg inn', new_user_session_path %>
      
    <% end %>
    <% if user_signed_in? %>
      <%= link_to 'Logg ut', destroy_user_session_path %> 
      <%= link_to 'Min profil', current_user %>
      <%= link_to 'Ny tekst', new_article_path %>
     <% end %>
  </div><!-- Slutt ofaner -->
  </div><!-- Slutt omeny -->

<div id="sliderWrapper" class="grid_25">
<div id="slider" class="nivoSlider">

  <%= image_tag "2.jpg" %>
  <%= image_tag "3.jpg" %>
  <%= image_tag "4.jpg" %>
  <%= image_tag "6.jpg" %>
  <%= image_tag "7.jpg" %>
  <%= image_tag "8.jpg" %>
  <%= image_tag "9.jpg" %>
  <%= image_tag "10.jpg" %>
  <%= image_tag "1.jpg" %>


</div>
<div id="bakgrunn">
</div>
<script type="text/javascript">
$j(window).load(function() {
      $j('#slider').nivoSlider({effect:'fade', pauseOnHover:false, controlNav:false,pauseTime:8000, prevText: '<-', nextText: '->', afterLoad: 
	function() {
		$j('#bakgrunn').css ("display", "none");
	}
}
);
}
);
</script>
</div><!-- Slutt sliderWrapper -->

<div id="umeny" class="grid_25">
<div id="faner">

<% @categories = Category.all %>
<% if (request.request_uri == '/home/index') || (request.request_uri == '/')    %>
  <% style="selected" %>
<% else %>
  <% style="" %>
<% end %>
<%= link_to 'Siste', home_index_path, :class => style %><%= image_tag("men_sep.png", :class=>"menyspacer") %>
<% @categories.each do |c| %>
  
  <% if request.request_uri == '/categories/'+c.id.to_s() %>
  <% style="selected" %>
<% else %>
  <% style="" %>
<% end %>

  <%= link_to c.name, category_path(c), :class => style %><%= image_tag("men_sep.png", :class=>"menyspacer") %>
<% end %>
<% if request.request_uri == '/articles' %>
  <% style="selected" %>
<% else %>
  <% style="" %>
<% end %>

<%= link_to 'Alle', articles_path, :class => style %>
</div>
</div>

<div id="innholdsramme" class="grid_25">
<div id="helsideramme" class="grid_24">
  <%= yield %>
</div><!-- Slutt helsideramme  -->


</div><!-- Slutt innholdsramme -->

<div id="footer" class="grid_25"> <!--Start footer -->
  <%= link_to image_tag("isfit.jpg"), "http://www.isfit.org/" %>
  <%= link_to image_tag("uka.png"), "http://www.uka.no/" %>
  <%= link_to image_tag("samfundet.jpeg"), "http://www.samfundet.no/" %>
  <div id="webmaster"><h6>Editor in Chief: Steinar H. Fretheim, steinfre[at]isfit.org</h6></div>
</div><!-- Slutt footer -->
</div><!-- Slutt hovedramme -->
</body>
</html>
