<!DOCTYPE html>

<p class="notice"><%= notice %></p>
<html>
<head>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery','application', 'jquery.simplemodal-1.3.5.min', 'imgareaselect', 'jquery.nivo.slider'%>
  <%= yield :script %>
  <%= csrf_meta_tag %>

</head>

<body>
<div id="hovedramme" class="container_24"> <!-- Start hovedramme -->
  <div id="omeny" class="grid_25"> <!-- Start Header -->
  <div id="ofaner">  
  <h2>Frivillig ledelse</h2> 
  <div id="bid">
      <%= link_to 'Bidragsytere', contributors_path %>
   </div>
    <% if !admin_signed_in? %>
      <%= link_to 'Logg inn', new_admin_session_path %>
    <% end %>
    <% if admin_signed_in? %>
      <%= link_to 'Logg ut', destroy_admin_session_path %> 
      <%= link_to 'Kategorier', categories_path %>
      <%= link_to 'Ny tekst', new_article_path %>
     <% end %>
  </div><!-- Slutt ofaner -->
  </div><!-- Slutt omeny -->

<div id="sliderWrapper" class="grid_25">
<div id="slider" class="nivoSlider">

  <%= image_tag "2.jpg" %>
  <%= image_tag "3.jpg" %>
  <%= image_tag "4.jpg" %>
  <%= image_tag "6.jpg" %>
  <%= image_tag "7.jpg" %>
  <%= image_tag "8.jpg" %>
  <%= image_tag "9.jpg" %>
  <%= image_tag "10.jpg" %>
  <%= image_tag "1.jpg" %>


</div>
<div id="bakgrunn">
</div>
<script type="text/javascript">
$(window).load(function() {
      $('#slider').nivoSlider({effect:'fade', pauseOnHover:false, controlNav:false,pauseTime:8000, prevText: '<-', nextText: '->', afterLoad: 
	function() {
		$('#bakgrunn').css ("display", "none");
	}
}
);
}
);
</script>
</div><!-- Slutt sliderWrapper -->

<div id="umeny" class="grid_25">
<div id="faner">

<% @categories = Category.all %>
<% if (request.request_uri == '/home/index') || (request.request_uri == '/')    %>
  <% style="selected" %>
<% else %>
  <% style="" %>
<% end %>
<%= link_to 'Siste', home_index_path, :class => style %><%= image_tag("men_sep.png", :class=>"menyspacer") %>
<% @categories.each do |c| %>
  
  <% if request.request_uri == '/categories/'+c.id.to_s() %>
  <% style="selected" %>
<% else %>
  <% style="" %>
<% end %>

  <%= link_to c.name, category_path(c), :class => style %><%= image_tag("men_sep.png", :class=>"menyspacer") %>
<% end %>
<% if request.request_uri == '/articles' %>
  <% style="selected" %>
<% else %>
  <% style="" %>
<% end %>

<%= link_to 'Alle', articles_path, :class => style %>
</div>
</div>

<div id="innholdsramme" class="grid_25">

<%= yield %>
</div><!-- Slutt innholdsramme -->

<div id="footer" class="grid_25"> <!--Start footer -->
  <%= link_to image_tag("isfit.jpg"), "http://www.isfit.org/" %>
  <%= link_to image_tag("uka.png"), "http://www.uka.no/" %>
  <%= link_to image_tag("samfundet.jpeg"), "http://www.samfundet.no/" %>
  <div id="webmaster"><h6>Webmaster: Steinar H. Fretheim, steinar.fretheim[at]gmail.com</h6></div>
</div><!-- Slutt footer -->
</div><!-- Slutt hovedramme -->
</body>
</html>
